/* Add styling for your page here */

.App {

}

.SingleItem {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.ItemContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 5%;

}